<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="OmlateSuggestions" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=AprioriSelf.Models.OmlateSuggestions;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OmlateSuggestion" connectionString="Data Source=DESKTOP-57JJ360;Initial Catalog=OmlateSuggests;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="ExistingData" connectionString="metadata=res://*/Models.ExistingData.csdl|res://*/Models.ExistingData.ssdl|res://*/Models.ExistingData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-57JJ360;initial catalog=omlateDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="omlateDBEntities" connectionString="metadata=res://*/Models.ExistingData.csdl|res://*/Models.ExistingData.ssdl|res://*/Models.ExistingData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-57JJ360;initial catalog=omlateDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DbFromWeb" connectionString="metadata=res://*/Models.DbFromWeb.csdl|res://*/Models.DbFromWeb.ssdl|res://*/Models.DbFromWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-57JJ360;initial catalog=omlateDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExistingDataFromWeb" connectionString="metadata=res://*/Models.ExistingDataFromWeb.csdl|res://*/Models.ExistingDataFromWeb.ssdl|res://*/Models.ExistingDataFromWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-57JJ360;initial catalog=omlateDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>